body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #E6E6FA;
}

.logo-service {
    color: #45B8AC;
    font-size: 50px;
}

.logo-contact {
    color: #45B8AC;
}

.thumbnail {
    padding: 0 0 10px 0;
    border-radius: 0;
    margin-top: 20px;
}

.thumbnail:hover, .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .5);
}

.thumbnail .btn, .panel-footer .btn, .modal-footer .btn {
    border: 1px solid #45B8AC;
    background-color: #fff;
    color: #45B8AC;
}

.thumbnail .btn:hover, .panel-footer .btn:hover, .modal-footer .btn:hover {
    background-color: #45B8AC !important;
    color: #fff;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.panel {
    border: 1px solid #45B8AC;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}

.panel-heading {
    color: #fff !important;
    background-color: #45B8AC !important;
    padding: 25px;
    height: 150px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 20px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: white;
}

.carousel-indicators li {
    border-color: white;
}

.carousel-indicators li.active {
    background-color: white;
}

#portoCarousel {
    background: url("images/sea.jpg") no-repeat;
    background-size: 100% 100%;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.navbar {
    margin-bottom: 0;
    background-color: black;
    z-index: 9998;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a {
    color: #fff !important;
}

.navbar .navbar-brand img {
    position: absolute;
    left: 0px;
    margin-top: -82px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: black !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer {
    background-color: black;
    color: white;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 10px;
    color: #45B8AC;
}

.slideanim {visibility:hidden;}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

#googleMap {
    max-width: 100%;
    height: 400px;
}

.modal-dialog {
    padding: 50px 0;
}

.modal-header {
    background-color: #45B8AC;
    text-align: center;
}

.modal-title {
    color: white;
}

.modal-body .container-fluid {
    text-align: justify;
    padding: 5px 40px;
}

.nav-pills > li > a {
    border-radius: 0;
    border-right: 1px solid white;
    background-color: #45B8AC;
    color: white;
}

.nav-pills > li:last-child > a {
    border-right: none;
}

.nav-pills li a:hover, .nav-pills > li.active > a, .nav-pills > li.dropdown.open > a {
    background-color: #337ab7;
    color: white;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    font-size: 25px;
    width: 45px;
    color: white;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    transition: width 0.1s, height 0.1s linear;
}

@media screen and (max-width: 768px) {
    .col-sm-4, .col-sm-3, .col-sm-6, #googleMap {
        text-align: center;
        margin: 25px 0;
    }

    .panel-footer h3, .panel-body h3 {
        font-size: 15px;
    }

    .panel-heading h1 {
        font-size: 20px;
    }

    .panel-heading {
        height: auto;
    }

    #googleMap {
        height: 200px;
    }

    .modal-body .container-fluid {
        padding: 5px;
    }
}

